.container {
    background: #fff;
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 25px;
    margin: 20px auto;
    position: relative;
    z-index: 1;
    border-top: 5px solid RoyalBlue;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.texting {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
    text-align: center;
    padding-bottom: 15px;
}

.input-field {
    display: flex;
    margin-bottom: 20px;
}

.input-field i {
    color: #333;
    height: 22px;
    width: 30px;
    padding-top: 10px;
    border: 1px solid #cccccc;
    border-right: none;
    text-align: center;
}

.input-field input:hover {
    background: #fafafa;
}

.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password] {
    width: 100%;
    padding: 8px 10px;
    height: 35px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    outline: none;
}

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    box-shadow: 0 0 2px 1px RoyalBlue;
    border: 1px solid RoyalBlue;
    background: #fafafa;
}

.select-option {
    position: relative;
    width: 100%;
}

.select-option select {
    display: inline-block;
    width: 100%;
    height: 35px;
    padding: 0px 15px;
    cursor: pointer;
    color: #7b7b7b;
    border: 1px solid #cccccc;
    border-radius: 0;
    background: #fff;
    appearance: none;
}

.select-arrow {
    position: absolute;
    top: calc(50% - 4px);
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-width: 8px 5px 0 5px;
    border-style: solid;
    border-color: #7b7b7b transparent transparent transparent;
}

input[type=submit] {
    background: RoyalBlue;
    height: 35px;
    line-height: 35px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 10px;
}

input[type=submit]:hover {
    background: RoyalBlue;
}